@import "../../../assets//styles/base/variable.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 15px 8px 22px;
  cursor: pointer;
  &:hover {
    span:nth-of-type(2) {
      color: $checkbox-svg-color;
    }
  }
  &:active,
  &:focus {
    span:nth-of-type(2) {
      outline: 3px solid $checkbox-focus-color;
    }
  }
}
