@use "../../../assets//styles/base/variable.scss" as *;

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 6px;

  &:hover {
    color: $checkbox-svg-color;
  }
  &:active,
  &:focus {
    outline: 3px solid $checkbox-focus-color;
  }
  &--default {
    background-color: #ffffff;
    border: 1px solid $checkbox-border-color;
    color: #ffffff;
  }

  &--checked {
    background-color: $checkbox-checked-color;
    border: 1px solid $checkbox-checked-color;
    color: #ffffff;
  }
}
